In [2]:
import os
import pandas as pd

In [3]:
os.getcwd()

'C:\\Users\\Bryant Tran\\Documents\\UCSD\\calcofi_hackathon'

In [5]:
xlsx=pd.ExcelFile("definitions.xlsx")

In [13]:
data=pd.read_excel(xlsx,"Species Codes")
data

,Code,Taxa,Species,"Reference (See ""Species Code References"" sheet)",Notes
0,316.0,"diatom, centric",Actinocyclus cf curvatulus,To,small cells; may include Coscinodiscus
1,399.0,"diatom, centric",Actinocyclus octanarius,To,counted as A. ehrenbergii
2,600.0,"diatom, centric","Actinocyclus, undistiguished spp.",NaN,NaN
3,30.0,"diatom, centric",Actinoptychus adriaticus + A. vulgaris,NaN,NaN
4,499.0,"diatom, centric",Actinoptychus senarius,To,counted as A. undulatus
...,...,...,...,...,...
375,40.0,other,Pterosperma pentagonum,P,NaN
376,334.0,other,Pterosperma cf polygonum,To,"counted as ""thick-walled t"""
377,231.0,other,Pterosperma sp. a,NaN,"counted as P. ""with biscuits"""
378,597.0,other,undistinguished Pterosperma spp.,NaN,NaN
379,234.0,other,Richelia intracellularis,So,NaN

In [12]:
codes=data["Code"].tolist()

In [18]:
names=data["Species"].tolist()

In [19]:
species_codes= [x for x in codes if str(x) != 'nan']
species_names= [x for x in names if str(x) != 'nan']

In [23]:
len(species_codes)==len(species_names)

True

In [35]:
lst=[]
for number in species_codes:
    lst.append(int(number))

In [36]:
lst

[316,
 399,
 600,
 30,
 499,
 495,
 3,
 5,
 373,
 11,
 12,
 26,
 27,
 28,
 237,
 29,
 287,
 358,
 604,
 49,
 31,
 37,
 362,
 32,
 41,
 43,
 359,
 364,
 531,
 360,
 365,
 366,
 44,
 33,
 361,
 367,
 521,
 368,
 376,
 369,
 42,
 370,
 372,
 45,
 46,
 242,
 34,
 240,
 524,
 35,
 375,
 241,
 377,
 36,
 525,
 606,
 618,
 605,
 50,
 10,
 517,
 513,
 315,
 520,
 340,
 503,
 501,
 235,
 502,
 484,
 387,
 389,
 64,
 289,
 384,
 379,
 61,
 388,
 53,
 599,
 54,
 55,
 381,
 48,
 15,
 356,
 56,
 386,
 8,
 385,
 383,
 522,
 601,
 16,
 286,
 518,
 58,
 60,
 62,
 390,
 63,
 487,
 391,
 65,
 607,
 18,
 355,
 341,
 505,
 347,
 343,
 344,
 346,
 349,
 20,
 21,
 314,
 350,
 351,
 24,
 603,
 76,
 393,
 89,
 101,
 398,
 290,
 396,
 619,
 84,
 86,
 67,
 75,
 79,
 77,
 83,
 394,
 529,
 88,
 100,
 317,
 292,
 98,
 97,
 95,
 91,
 92,
 93,
 87,
 507,
 244,
 82,
 397,
 489,
 245,
 94,
 400,
 68,
 70,
 69,
 71,
 73,
 74,
 85,
 243,
 318,
 401,
 508,
 512,
 608,
 497,
 125,
 173,
 267,
 297,
 434,
 432,
 251,
 433,
 329,
 530,
 127,
 129,
 425,
 430,
 130,
 255,
 301,
 131,
 126,
 328,
 134,
 135,
 256,
 136,
 137,
 138,
 139,
 612,
 142,
 598,
 144,
 249,
 149,
 151,
 154,
 496,
 514,
 406,
 407,
 408,
 409,
 114,
 115,
 324,
 515,
 411,
 610,
 145,
 200,
 291,
 440,
 441,
 442,
 260,
 446,
 445,
 448,
 613,
 498,
 117,
 261,
 325,
 415,
 153,
 148,
 152,
 265,
 155,
 298,
 419,
 159,
 156,
 157,
 158,
 160,
 161,
 266,
 516,
 611,
 163,
 132,
 458,
 459,
 461,
 464,
 164,
 165,
 166,
 109,
 402,
 102,
 103,
 90,
 104,
 404,
 105,
 106,
 107,
 108,
 246,
 405,
 609,
 38,
 453,
 451,
 456,
 457,
 452,
 519,
 488,
 462,
 465,
 614,
 169,
 272,
 416,
 217,
 615,
 468,
 268,
 172,
 471,
 467,
 338,
 466,
 469,
 270,
 167,
 168,
 175,
 178,
 474,
 170,
 616,
 179,
 181,
 180,
 182,
 191,
 183,
 306,
 209,
 302,
 281,
 184,
 275,
 186,
 475,
 480,
 188,
 309,
 331,
 216,
 192,
 193,
 187,
 194,
 481,
 195,
 196,
 197,
 199,
 198,
 189,
 201,
 202,
 273,
 203,
 205,
 207,
 282,
 284,
 210,
 212,
 213,
 214,
 215,
 304,
 219,
 220,
 479,
 221,
 224,
 225,
 332,
 222,
 617,
 226,
 227,
 228,
 602,
 232,
 233,
 285,
 337,
 523,
 335,
 230,
 40,
 334,
 231,
 597,
 234]

In [37]:
dictionary=dict(zip(lst,species_names))

In [38]:
dictionary

{316: 'Actinocyclus cf curvatulus ',
 399: 'Actinocyclus octanarius ',
 600: 'Actinocyclus, undistiguished spp.',
 30: 'Actinoptychus adriaticus + A. vulgaris',
 499: 'Actinoptychus senarius',
 495: 'Actinoptychus, undistiguished spp.',
 3: 'Asterolampra marylandica',
 5: 'Asteromphalus heptactis',
 373: 'Attheya septentrionalis ',
 11: 'Azpeitia africana',
 12: 'Azpeitia neocrenulatus + A. tabularis',
 26: 'Bacteriastrum biconicum',
 27: 'Bacteriastrum comosum',
 28: 'Bacteriastrum delicatulum ',
 237: 'Bacteriastrum elegans',
 29: 'Bacteriastrum elongatum',
 287: 'Bacteriastrum hyalinum',
 358: 'Bacteriastrum mediterraneum',
 604: 'Bacteriastrum, undistiguished spp.',
 49: 'Cerataulina  pelagica',
 31: 'Chaetoceros aequatorialis',
 37: 'Chaetoceros affinis ',
 362: 'Chaetoceros anastomosans',
 32: 'Chaetoceros atlanticus',
 41: 'Chaetoceros bacteriastroides',
 43: 'Chaetoceros bacteriastroides var a',
 359: 'Chaetoceros borealis',
 364: 'Chaetoceros compressus',
 531: 'Chaetoceros compressus spore',
 360: 'Chaetoceros concavicornis + C. convolutus',
 365: 'Chaetoceros constrictus',
 366: 'Chaetoceros costatus',
 44: 'Chaetoceros curvisetus',
 33: 'Chaetoceros dadayi',
 361: 'Chaetoceros danicus',
 367: 'Chaetoceros debilis',
 521: 'Chaetoceros debilis spore',
 368: 'Chaetoceros decipiens',
 376: 'Chaetoceros diadema',
 369: 'Chaetoceros didymus',
 42: 'Chaetoceros eibenii',
 370: 'Chaetoceros gracilis',
 372: 'Chaetoceros laciniosus',
 45: 'Chaetoceros lorenzianus',
 46: 'Chaetoceros messanensis',
 242: 'Chaetoceros cf pendulus + "fine aequatorialis")',
 34: 'Chaetoceros peruvianus',
 240: 'Chaetoceros radicans',
 524: 'Chaetoceros radicans spore',
 35: 'Chaetoceros seychellarum',
 375: 'Chaetoceros socialis',
 241: 'Chaetoceros cf. subtilis ',
 377: 'Chaetoceros teres',
 36: 'Chaetoceros tetrastichon',
 525: 'Chaetoceros cf. vistulae',
 606: 'Chaetoceros, undistiguished spp. (Hyalochaete)',
 618: 'Chaetoceros, undistiguished spores',
 605: 'Chaetoceros, undistiguished spp. (Phaeoceros)',
 50: 'Climacodium biconcavum',
 10: 'Corethron criophilum',
 517: 'Coscinodiscus centralis',
 513: 'Coscinodiscus concinnus',
 315: 'Coscinodiscus curvatulus',
 520: 'Coscinodiscus granii',
 340: 'Coscinodiscus marginatus',
 503: 'Coscinodiscus oculis-iridis',
 501: 'Coscinodiscus perforatus',
 235: 'Coscinodiscus radiatus',
 502: 'Coscinodiscus wailesii',
 484: 'Coscinosira spp.',
 387: 'Dactyliosolen blavyanus',
 389: 'Dactyliosolen fragilissimus ',
 64: 'Dactyliosolen phuketensis  + Guinardia striata ',
 289: 'Detonula pumila ',
 384: 'Ditylum brightwelli',
 379: 'Eucampia zoodiacus',
 61: 'Guinardia cylindrus',
 388: 'Guinardia delicatula ',
 53: 'Guinardia flaccida',
 599: 'Helicotheca sp.',
 54: 'Hemiaulus hauckii',
 55: 'Hemiaulus membranaceus',
 381: 'Hemiaulus sinensis',
 48: 'Hemiaulus sp. 1 ',
 15: 'Hemidiscus cuneiformis',
 356: 'Lauderia annulata',
 56: 'Leptocylindrus danicus + L. minimus',
 386: 'Leptocylindrus mediterraneus',
 8: 'Liriogramma complex',
 385: 'Lithodesmum undulatum',
 383: 'Odontella rhombus + O. aurita',
 522: 'Odontella weissflogii',
 601: 'Odontella, undistiguished spp',
 16: 'Planktoniella sol',
 286: 'Podosira sp. ("with crud")',
 518: 'Porosira spp.',
 58: 'Proboscia alata ',
 60: 'Pseudosolenia calcar-avis ',
 62: 'Rhisosolenia hebetata f. semispina',
 390: 'Rhizosolenia hebetata f. hebetata ',
 63: 'Rhizosolenia imbricata',
 487: 'Rhizosolenia robusta',
 391: 'Rhizosolenia setigera',
 65: 'Rhizosolenia styliformis',
 607: 'Rhizosolenia, undistiguished spp.',
 18: 'Roperia tesselata',
 355: 'Skeletonema costatum',
 341: 'Stellarima stellaris',
 505: 'Stephanopyxis turris',
 347: 'Thalassiosira aestivalis',
 343: 'Thalassiosira allenii',
 344: 'Thalassiosira anguste-lineata',
 346: 'Thalassiosira eccentrica',
 349: 'Thalassiosira endoseriata',
 20: 'Thalassiosira lineata',
 21: 'Thalassiosira cf lineoides',
 314: 'Thalassiosira cf. oestrupii',
 350: 'Thalassiosira rotula',
 351: 'Thalassiosira simonsenii',
 24: 'Thalassiosira subtilis',
 603: 'undistinguished diatom species',
 76: 'Amphiprora spp.',
 393: 'Asterionellopsis glacialis',
 89: 'Cylindrotheca closterium ',
 101: 'Fragilariopsis doliolus ',
 398: 'Fragilariopsis pseudonana',
 290: 'Fragilariopsis sp.1 ',
 396: 'Gyrosigma cf spenserii',
 619: 'undistiguished Gyrosigma spp. +Pleurosigma spp.',
 84: 'Haslea  gigantea',
 86: 'Haslea wawrikae ',
 67: 'Licmophora spp.',
 75: 'Lioloma delicatulum + L. pacificum',
 79: 'Mastogloia rostrata',
 77: 'Mastogloia woodiana + pennate a',
 83: 'Membraneis challengeri',
 394: 'Nitzschia cf americana - single cells',
 529: 'Nitzschia cf americana - in chains',
 88: 'Nitzschia bicapitata',
 100: 'Nitzschia bicapitata -minute form',
 317: 'Nitzschia cf. bicapitata type 1',
 292: 'Nitzschia cf braarudii ',
 98: 'Nitzschia cf. interruptastriata',
 97: 'Nitzschia cf. interruptastriata - long slim form',
 95: 'Nitzschia cf. longissima ',
 91: 'Nitzschia kolaczekii',
 92: 'Nitzschia marina',
 93: 'Nitzschia sicula',
 87: 'Nitzschia sicula var. a',
 507: 'Nitzschia sicula var. b',
 244: 'Nitzschia cf tenuirostris',
 82: 'Pleurosigma directum',
 397: 'Pleurosigma nicobaricum',
 489: 'Pleurosigma cf normanii',
 245: 'Pseudo-nitzschia "minute"',
 94: 'slim Pseudo-nitzschia spp.',
 400: 'robust Pseudonitzschia spp. ',
 68: 'Thalassionema bacillare',
 70: 'Thalassionema frauenfeldii',
 69: 'Thalassionema nitzschioides',
 71: 'Thalassionema nitzschioides var. a',
 73: 'Thalassiothrix longissima',
 74: 'Thalassiothrix sp. 1',
 85: 'pennate sp. 1',
 243: 'pennate sp. 2',
 318: 'pennate sp. 3',
 401: 'pennate sp. 4',
 508: 'pennate sp. 5',
 512: 'pennate sp. 6',
 608: 'undistinguished pennate diatoms',
 497: 'Actiniscus pentasterias',
 125: 'Amphidoma nucula',
 173: 'Amylax sp. 1',
 267: 'Blepharocysta spp.',
 297: 'Centrodinium spp.',
 434: 'Ceratium arietinum',
 432: 'Ceratium azoricum + C. petersii',
 251: 'Ceratium biceps + C. extensum',
 433: 'Ceratium breve',
 329: 'Ceratium candelabrum',
 530: 'Ceratium carriense',
 127: 'Ceratium concilians',
 129: 'Ceratium declinatum',
 425: 'Ceratium divaricatum ',
 430: 'Ceratium falcatiformis',
 130: 'Ceratium furca',
 255: 'Ceratium fusus',
 301: 'Ceratium gibberum',
 131: 'Ceratium horridum ',
 126: 'Ceratium koifodii + C. boehmii',
 328: 'Ceratium lineatum',
 134: 'Ceratium macrocercos',
 135: 'Ceratium massiliense',
 256: 'Ceratium minutum',
 136: 'Ceratium pentagonum',
 137: 'Ceratium teres',
 138: 'Ceratium tricoceros + C. contrarium',
 139: 'Ceratium tripos ',
 612: 'Ceratium, undistiguished spp.',
 142: 'Ceratocorys armata',
 598: 'Ceratocorys, undistiguished spp.',
 144: 'Cladiopyxis brachiolata',
 249: 'Cladiopyxis setifera',
 149: 'Corythodinium cf curvicaudatum ',
 151: 'Corythodinium elegans + C. tesselatum',
 154: 'Corythodinium cf globosum',
 496: 'Dinophysis acuminata',
 514: 'Dinophysis acuta',
 406: 'Dinophysis caudata',
 407: 'Dinophysis cf. cuneus',
 408: 'Dinophysis fortii + D. ovum',
 409: 'Dinophysis micropterigera + D. brevisulcus',
 114: 'Dinophysis cf. mucronata',
 115: 'Dinophysis parva + D. exigua + D. infundibula',
 324: 'Dinophysis cf. rotundata',
 515: 'Dinophysis tripos',
 411: 'Dinophysis sp. 1',
 610: 'Dinophysis, undistiguished spp.',
 145: 'Glenodinium danicum ',
 200: 'Glenodinium sp . 1',
 291: 'Gonyaulax areolata',
 440: 'Gonyaulax diegensis',
 441: 'Gonyaulax digitale',
 442: 'Gonyaulax hyalina',
 260: 'Gonyaulax polygramma',
 446: 'Gonyaulax cf. scrippsae',
 445: 'Gonyaulax cf. spinifera',
 448: 'Gonyaulax turbynei',
 613: 'Gonyaulax, undistiguished spp.',
 498: 'Heterodinium cf minutum',
 117: 'Histoneis cf. longicollus',
 261: 'Lingulodinium polyedrum ',
 325: 'Mesoporos spp.',
 415: 'Oxyphysis oxytoxoides',
 153: 'Oxytoxum adriaticum',
 148: 'Oxytoxum curvatum',
 152: 'Oxytoxum laticeps',
 265: 'Oxytoxum cf. laticeps type 1',
 155: 'Oxytoxum longum',
 298: 'Oxytoxum cf nanum',
 419: 'Oxytoxum cf. mediterraneum',
 159: 'Oxytoxum milneri + O. subulatum',
 156: 'Oxytoxum parvum + O. sceptrum',
 157: 'Oxytoxum scolopax',
 158: 'Oxytoxum sphaeroideum + O. ovale',
 160: 'Oxytoxum turbo',
 161: 'Oxytoxum cf variabile',
 266: 'Oxytoxum cf variabile type 1',
 516: 'Oxytoxum cf variabile-like',
 611: 'Oxytoxum, undistiguished spp.',
 163: 'Paleophalacroma cf. unicinctum',
 132: 'Paleophalacroma verrucosum',
 458: 'Peridinium minusculum',
 459: 'Peridinium nipponicum + P. pyriforme',
 461: 'Peridinium ovum + P. subpyriforme',
 464: 'Peridinium steinii + P. tuba',
 164: 'Podolampas bipes',
 165: 'Podolampas palmipes',
 166: 'Podolampas spinifer',
 109: 'Prorocentrum cf. balticum',
 402: 'Prorocentrum cinctum',
 102: 'Prorocentrum compressum',
 103: 'Prorocentrum dactylus',
 90: 'Prorocentrum gracile',
 104: 'Prorocentrum micans',
 404: 'Prorocentrum cf minimum',
 105: 'Prorocentrum obtusidiens',
 106: 'Prorocentrum rostratum ',
 107: 'Prorocentrum cf. triestinum',
 108: 'Prorocentrum vaginulum',
 246: 'Prorocentrum sp. a',
 405: 'Prorocentrum sp. b ',
 609: 'Prorocentrum, undistiguished spp.',
 38: 'Protoceratium areolatum',
 453: 'Protoperidinium depressum',
 451: 'Protoperidinium divergense complex',
 456: 'Protoperidinium granii + P. pacificum',
 457: 'Protoperidinium leonis',
 452: 'Protoperidinium oceanica complex',
 519: 'Protoperidinium cf orientale',
 488: 'Protoperidinium pallidum',
 462: 'Protoperidinium simulum + P. globulus',
 465: 'Protoperidinium tenuissimum',
 614: 'Protoperidinium, undistiguished spp',
 169: 'Ptychodiscus noctiluca',
 272: 'Pyrophacus sp.',
 416: 'Spiraulax sp.',
 217: 'Thoracosphaera heimii ',
 615: 'undistinguished thecate dinoflagellate spp.',
 468: 'Akashiwo sanguinea',
 268: 'Brachydinium capitatum',
 172: 'Brachydinium sp. b ',
 471: 'Brachydinium sp. a ',
 467: 'Cochlodinium catenatum',
 338: 'Dissodinium lunula',
 466: 'Erithropsidinium sp.',
 469: 'Kofoidinium sp.',
 270: 'Noctiluca scintillans',
 167: 'Pronoctiluca acuta + P. spinifera',
 168: 'Pronoctiluca pelagica',
 175: 'Pyrocystis acuta',
 178: 'Pyrocystis fusiformis',
 474: 'Spatulodinium sp. ',
 170: 'Torodinium spp.',
 616: 'undistinguished athecate dinoflagellate spp.',
 179: 'Acanthoica quattrospina',
 181: 'Algirosphaera spp.',
 180: 'Anoplosolenia brasiliensis ',
 182: 'Braarudosphaera bigelowii',
 191: 'Calcidiscus  leptoporus',
 183: 'Calciosolenia murrayi ',
 306: 'Calyptrolithina wettsteinii ',
 209: 'Calyptrolithophora gracillima',
 302: 'Calyptrolithophora hasleana',
 281: 'Calyptrolithophora sp. a',
 184: 'Calyptrosphaera spp.',
 275: 'Caneosphaera molischii',
 186: 'Ceratolithus cristatus',
 475: 'Coccolithus pelagicus',
 480: 'Corisphaera sp. a ',
 188: 'Coronosphaera mediterranea + C. binodata',
 309: 'Crystallolithus sp. a  ',
 331: 'Crystallolithus sp. b',
 216: 'Deutschlandia anthos',
 192: 'Deutschlandia sp. a',
 193: 'Discosphaera tubifer',
 187: 'Emiliania huxleyi',
 194: 'Florisphaera profunda',
 481: 'Gephyrocapsa oceanica',
 195: 'Gephyrocapsa ornata',
 196: 'Gephyrocapsa, undistiguished spp.',
 197: 'Halopappus spp.',
 199: 'Helicosphaera carterae + H. hyalina',
 198: 'Helladosphaera spp.',
 189: 'Oolithotus fragilis ',
 201: 'Ophiaster spp.',
 202: 'Periphyllophora mirabilis',
 273: 'Pontosphaera discopora',
 203: 'Pontosphaera sp. 1',
 205: 'Rhabdosphaera claviger',
 207: 'Rhabdosphaera longistylus ',
 282: 'Rhabsosphaera cf tenuistylus ("hollow ball")',
 284: 'Syracolithus cf. quadiperforatus',
 210: 'Syracosphaera histrica',
 212: 'Syracosphaera pirus',
 213: 'Syracosphaera prolongata',
 214: 'Syracosphaera pulchra',
 215: 'Syracosphaera pulchroides',
 304: 'Syracosphaera sp. 1',
 219: 'Umbellosphaera irregularis',
 220: 'Umbellosphaera tenuis',
 479: 'Umbilicosphaera hulburtiana',
 221: 'Umbilicosphaera sibogae',
 224: 'coccolithophore sp. 1',
 225: 'coccolithophore sp. 2',
 332: 'coccolithophore sp. 3 ',
 222: 'coccolithophore sp. 4',
 617: 'undistinguished coccolithophore spp.',
 226: 'Dictyocha fibula',
 227: 'Dictyocha speculum',
 228: 'Octactis pulchra + O. ocatnaria',
 602: 'undistinguished silicoflagellate spp.',
 232: 'Danasphaera indica',
 233: 'Leucocryptos marina ',
 285: 'Meringosphaera spp.',
 337: 'Phaeocystis cf pouchetti',
 523: 'Phaeocystis sp.',
 335: 'Pterosperma cf cuboides',
 230: 'Pterosperma marginatum',
 40: 'Pterosperma pentagonum',
 334: 'Pterosperma cf polygonum ',
 231: 'Pterosperma sp. a',
 597: 'undistinguished Pterosperma spp.',
 234: 'Richelia intracellularis'}

In [81]:
xlsx=pd.ExcelFile("calcofi_1996_2012.xlsx")
data1=pd.read_excel(xlsx,"CC96DATA")
data1

,Cruise,Month,Year,Date,Quadrant,316,399,600,30,499,...,337,523,335,230,40,334,231,597,234,SUM MISC. TAXA
0,CalCOFI 9608,8,96,08/1/96,NE,0,0,0,0,0.0,...,1412.3,0,0,0,0,0,0,0,0,1647.7
1,CalCOFI 9608,8,96,08/1/96,SE,0,0,0,0,0.0,...,171.4,0,0,0,0,0,0,0,0,832.4
2,CalCOFI 9608,8,96,08/1/96,Alley,0,0,0,0,45.3,...,816.0,0,0,0,0,0,0,0,0,2176.0
3,CalCOFI 9608,8,96,08/1/96,Offshore,0,0,0,0,0.0,...,0.0,0,0,0,0,0,0,0,0,477.4
4,CalCOFI 9610,10,96,10/1/96,NE,0,0,0,0,0.0,...,333.1,0,0,0,0,0,0,0,0,832.7
5,CalCOFI 9610,10,96,10/1/96,SE,0,0,0,0,0.0,...,16.3,0,0,0,0,0,0,0,0,824.1
6,CalCOFI 9610,10,96,10/1/96,Alley,0,0,0,0,0.0,...,0.0,0,0,0,0,0,0,0,0,489.6
7,CalCOFI 9610,10,96,10/1/96,Offshore,0,0,0,0,0.0,...,146.7,0,0,0,0,0,0,0,0,790.9

In [65]:
column_names=list(data1.columns.values)
#remove values that are not species codes
column_names=[x for x in column_names if type(x) == int]

In [66]:
type(data1.columns.values[6])==int

True

In [67]:
column_names

[316,
 399,
 600,
 30,
 499,
 495,
 3,
 5,
 373,
 11,
 12,
 26,
 27,
 28,
 237,
 29,
 287,
 358,
 604,
 49,
 31,
 37,
 362,
 32,
 41,
 43,
 359,
 364,
 531,
 360,
 365,
 366,
 44,
 33,
 361,
 367,
 521,
 368,
 376,
 369,
 42,
 370,
 372,
 45,
 46,
 242,
 34,
 240,
 524,
 35,
 375,
 241,
 377,
 36,
 525,
 606,
 618,
 605,
 50,
 10,
 517,
 513,
 315,
 520,
 340,
 503,
 501,
 235,
 502,
 484,
 387,
 389,
 64,
 289,
 384,
 379,
 61,
 388,
 53,
 599,
 54,
 55,
 381,
 48,
 15,
 356,
 56,
 386,
 8,
 385,
 383,
 522,
 601,
 16,
 286,
 518,
 58,
 60,
 62,
 390,
 63,
 487,
 391,
 65,
 607,
 18,
 355,
 341,
 505,
 347,
 343,
 344,
 346,
 349,
 20,
 21,
 314,
 350,
 351,
 24,
 603,
 76,
 393,
 89,
 101,
 398,
 290,
 396,
 619,
 84,
 86,
 67,
 75,
 79,
 77,
 83,
 394,
 529,
 88,
 100,
 317,
 292,
 98,
 97,
 95,
 91,
 92,
 93,
 87,
 507,
 244,
 82,
 397,
 489,
 245,
 94,
 400,
 68,
 70,
 69,
 71,
 73,
 74,
 85,
 243,
 318,
 401,
 508,
 512,
 608,
 497,
 125,
 173,
 267,
 297,
 434,
 432,
 251,
 433,
 329,
 530,
 127,
 129,
 425,
 430,
 130,
 255,
 301,
 131,
 126,
 328,
 134,
 135,
 256,
 136,
 137,
 138,
 139,
 612,
 142,
 598,
 144,
 249,
 149,
 151,
 154,
 496,
 514,
 406,
 407,
 408,
 409,
 114,
 115,
 324,
 515,
 411,
 610,
 145,
 200,
 291,
 440,
 441,
 442,
 260,
 446,
 445,
 448,
 613,
 498,
 117,
 261,
 325,
 415,
 153,
 148,
 152,
 265,
 155,
 298,
 419,
 159,
 156,
 157,
 158,
 160,
 161,
 266,
 516,
 611,
 163,
 132,
 458,
 459,
 461,
 464,
 164,
 165,
 166,
 109,
 402,
 102,
 103,
 90,
 104,
 404,
 105,
 106,
 107,
 108,
 246,
 405,
 609,
 38,
 453,
 451,
 456,
 457,
 452,
 519,
 488,
 462,
 465,
 614,
 169,
 272,
 416,
 217,
 615,
 468,
 268,
 172,
 471,
 467,
 338,
 466,
 469,
 270,
 167,
 168,
 175,
 178,
 474,
 170,
 616,
 179,
 181,
 180,
 182,
 191,
 183,
 306,
 209,
 302,
 281,
 184,
 275,
 186,
 475,
 480,
 188,
 309,
 331,
 216,
 192,
 193,
 187,
 194,
 481,
 195,
 196,
 197,
 199,
 198,
 189,
 201,
 202,
 273,
 203,
 205,
 207,
 282,
 284,
 210,
 212,
 213,
 214,
 215,
 304,
 219,
 220,
 479,
 221,
 224,
 225,
 332,
 222,
 617,
 226,
 227,
 228,
 602,
 232,
 233,
 285,
 337,
 523,
 335,
 230,
 40,
 334,
 231,
 597,
 234]

In [68]:
dictionary[600]

'Actinocyclus, undistiguished spp.'

In [70]:
import openpyxl

In [73]:
wb = openpyxl.load_workbook('calcofi_1996_2012.xlsx')
sheet_names=wb.get_sheet_names()

C:\Users\Bryant Tran\Documents\github_desktop\anaconda\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).

In [74]:
sheet_names

['CC96DATA',
 'CC97DATA',
 'CC98DATA',
 'CC99DATA',
 'CC00DATA',
 'CC01DATA',
 'CC02DATA',
 'CC03DATA',
 'CC04DATA',
 'CC05DATA',
 'CC06DATA',
 'CC07DATA',
 'CC08DATA',
 'CC09DATA',
 'CC10DATA',
 'CC11DATA',
 'CC12data (2)',
 'CC13',
 'CC14',
 'CC15',
 'CC16',
 'CC17',
 'CC18']

In [82]:
data1=pd.read_excel(xlsx,"CC96DATA")

In [87]:
a=data1.rename(columns=dictionary)

In [88]:
data2=pd.read_excel(xlsx,"CC97DATA")
b=data2.rename(columns=dictionary)

In [90]:
data3=pd.read_excel(xlsx,"CC98DATA")
c=data3.rename(columns=dictionary)

In [91]:
data4=pd.read_excel(xlsx,"CC99DATA")
d=data4.rename(columns=dictionary)

In [92]:
data5=pd.read_excel(xlsx,"CC00DATA")
e=data5.rename(columns=dictionary)

In [93]:
data6=pd.read_excel(xlsx,"CC01DATA")
f=data6.rename(columns=dictionary)

In [95]:
data7=pd.read_excel(xlsx,"CC02DATA")
g=data7.rename(columns=dictionary)

In [96]:
data8=pd.read_excel(xlsx,"CC03DATA")
h=data8.rename(columns=dictionary)

In [98]:
data9=pd.read_excel(xlsx,"CC04DATA")
i=data9.rename(columns=dictionary)

In [99]:
data10=pd.read_excel(xlsx,"CC05DATA")
j=data10.rename(columns=dictionary)

In [100]:
data11=pd.read_excel(xlsx,"CC06DATA")
k=data11.rename(columns=dictionary)

In [101]:
data12=pd.read_excel(xlsx,"CC07DATA")
l=data12.rename(columns=dictionary)

In [102]:
data13=pd.read_excel(xlsx,"CC08DATA")
m=data13.rename(columns=dictionary)

In [104]:
data14=pd.read_excel(xlsx,"CC09DATA")
n=data14.rename(columns=dictionary)

In [105]:
data15=pd.read_excel(xlsx,"CC10DATA")
o=data15.rename(columns=dictionary)

In [106]:
data16=pd.read_excel(xlsx,"CC11DATA")
p=data16.rename(columns=dictionary)

In [107]:
data17=pd.read_excel(xlsx,"CC12data (2)")
q=data17.rename(columns=dictionary)

In [110]:
data18=pd.read_excel(xlsx,"CC13")
r=data18.rename(columns=dictionary)

In [112]:
data19=pd.read_excel(xlsx,"CC14")
s=data19.rename(columns=dictionary)

In [113]:
data20=pd.read_excel(xlsx,"CC15")
t=data20.rename(columns=dictionary)

In [114]:
data21=pd.read_excel(xlsx,"CC16")
u=data21.rename(columns=dictionary)

In [115]:
data22=pd.read_excel(xlsx,"CC17")
v=data22.rename(columns=dictionary)

In [116]:
data23=pd.read_excel(xlsx,"CC18")
w=data23.rename(columns=dictionary)

In [120]:
sheet_names

['CC96DATA',
 'CC97DATA',
 'CC98DATA',
 'CC99DATA',
 'CC00DATA',
 'CC01DATA',
 'CC02DATA',
 'CC03DATA',
 'CC04DATA',
 'CC05DATA',
 'CC06DATA',
 'CC07DATA',
 'CC08DATA',
 'CC09DATA',
 'CC10DATA',
 'CC11DATA',
 'CC12data (2)',
 'CC13',
 'CC14',
 'CC15',
 'CC16',
 'CC17',
 'CC18']

In [122]:
from pandas import ExcelWriter

In [123]:
writer = ExcelWriter('output.xlsx')
a.to_excel(writer, 'CC96')
b.to_excel(writer, 'CC97')
c.to_excel(writer, 'CC98')
d.to_excel(writer, 'CC99')
e.to_excel(writer, 'CC00')
f.to_excel(writer, 'CC01')
g.to_excel(writer, 'CC02')
h.to_excel(writer, 'CC03')
i.to_excel(writer, 'CC04')
j.to_excel(writer, 'CC05')
k.to_excel(writer, 'CC06')
l.to_excel(writer, 'CC07')
m.to_excel(writer, 'CC08')
n.to_excel(writer, 'CC09')
o.to_excel(writer, 'CC10')
p.to_excel(writer, 'CC11')
q.to_excel(writer, 'CC12')
r.to_excel(writer, 'CC13')
s.to_excel(writer, 'CC14')
t.to_excel(writer, 'CC15')
u.to_excel(writer, 'CC16')
v.to_excel(writer, 'CC17')
w.to_excel(writer, 'CC18')
writer.save()